.section-divider h2 {
  position: relative;
  color: rgb(128, 139, 146);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 40px;
  margin: 30px 0;
  width: inherit;
  display: inline-block;
  text-align: left;
  padding: 0;
  left: 0;
  bottom: 0;
  font-size: 28px;
}

div.section.section-divider-container {
  width: 100%;
  padding: 0;
}

.section-divider-container {
  background-color: var(--nav-background-color);
}

.section-divider {
  width: 100%;
}

.section-divider img {
  width: 100%;
}

.section-divider  > div > div.button-container {
  float: right;
  margin: 30px auto;
}

.section-divider  > div > div.button-container a.button:any-link {
  margin: 0;
  padding: 0;
  display: inline;
  border: 0;
  line-height: 50px;
  background-color: var(--nav-background-color);
  font-size: var(--heading-font-size-s);
  font-weight: var(--heading-font-size-s);
  color: var(--nav-text-color);
  text-transform: var(--heading-text-transform);
  letter-spacing: 1px;
  text-decoration: none;
}


.section-divider > div > div {
  order: 1;
  display: inline;
}

.section-divider > div > .section-divider-img-col {
  order: 0;
}

.section-divider > div > .section-divider-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .section-divider > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .section-divider > div > div {
    flex: 1;
    order: unset;
  }
}

