footer {
  padding: 2rem;
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-xs);
  text-align: center;
  color: var(--footer-text-color)
}

footer a:any-link {
  font-size: var(--body-font-size-xs);
  color: var(--footer-text-color);
  text-decoration: none;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer > div > div {
  margin: 0;
  padding-bottom: .7em;
}

footer h3 { font-size: var(--heading-font-size-s) }

